html {color:#333; font:19px/1.5 Verdana,Arial,Helvetica,sans-serif}
body {margin:0;}
table {width:100%; border:0; table-layout:fixed;}
col.name {width:11em}
col.class {width:3.5em}
col.club {width:10em}
col.splitTime {width:5em}
col.time {width:6em}
col.ordinal {width:2em}
td {white-space:pre; overflow:hidden; vertical-align:top; background-color:#eee}
.trDark td {background-color:#ddd}
th {text-align:left; vertical-align:top; background-color:#c10000; color:#ffff99; font-size:21px; font-weight:bold}
#header {position:sticky;top:0; margin-top:0; background-color:#fff}
