@model IList<Competition>
@{
    ViewData["Title"] = "Competitions";
}


<ul>
    @foreach (var item in Model)
    {
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Competition" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
        </li>
    }
</ul>
